<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link href="lib/htmltools-fill-0.5.8.1/fill.css" rel="stylesheet">
  <script type="application/javascript" src="lib/htmlwidgets-1.6.4/htmlwidgets.js"></script>
  <script type="application/javascript" src="lib/three-brain-1.0.0/threebrain-main.js"></script>
  <script type="application/javascript" src="lib/threejs_brain-binding-1.2.0.9017/threejs_brain.js"></script>
  <title>RAVE 3D Viewer</title>
</head>
<body>
<div id="htmlwidget_container">
  <div class="threejs_brain html-widget html-fill-item-overflow-hidden html-fill-item" id="WIDGET_ID" style="width:100%;height:100vh;"></div>
</div>
<script type="application/json" data-for="WIDGET_ID">
WIDGET_DATA
</script>
<script type="application/htmlwidget-sizing" data-for="WIDGET_ID">
  {"viewer":{"width":"100%","height":"100vh","padding":"0px","fill":true},
  "browser":{"width":"100%","height":"100vh","padding":"0px","fill":false}}
</script>
</body>
</html>
